@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color:rgb(85, 138, 0);
    background-color: goldenrod;
}

h2 {
    color: rgb(73, 33, 185);
}

p {
    text-align: justify;
}